<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         point="org.eclipse.ui.views">
      <category
            name="Struts Tiles Category"
            id="strutsTilesView">
      </category>
      <view
            name="Struts Tiles View"
            icon="resources/images/struts_small.png"
            category="strutsTilesView"
            class="strutstilesview.views.StrutsTilesView"
            id="strutstilesview.views.StrutsTilesView">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="org.eclipse.jdt.ui.JavaPerspective">
         <view
               ratio="0.5"
               relative="org.eclipse.ui.views.ProblemView"
               relationship="right"
               id="strutstilesview.views.StrutsTilesView">
         </view>
      </perspectiveExtension>
   </extension>
   <extension
         point="org.eclipse.help.contexts">
      <contexts
            file="contexts.xml">
      </contexts>
   </extension>
   <!--
   <extension
         point="org.eclipse.ui.views">
      <view
            name="Progress View"
            icon="resources/images/pview.gif"
            category="org.eclipse.ui"
            class="org.eclipse.ui.ExtensionFactory:progressView"
            id="org.eclipse.ui.views.ProgressView">
      </view>
   </extension>
   -->

</plugin>
